.info {
  margin-bottom: 1rem;

  div + div {
    margin-left: 1.5rem;
  }

  svg {
    width: 20px;
    height: 20px;

    margin-right: 0.5rem;
  }

  span, time, svg {
    color: var(--info);
  }
}

.preview {
  background: #F8F8F8;

  padding: 16px 0;
  margin: 64px 0;

  border-radius: 4px;
  font-weight: bold;
  text-align: center;

  &:hover {
    filter: brightness(0.9);
  }

  a {
    width: 100%;
  }
}
